.sign{
    padding-top:    10%;
    padding-left: 40%;
    background-color: aquamarineS;
}

.labl{
    padding-right: 5%;
}
.form{
background-color: white;
  margin-top: 8%;
  margin-left: 30%;
  margin-right: 20%;
  padding-bottom: 1cm;
  width: 10cm;
}
.tout{
    background: linear-gradient(blue, 10%, pink);
    padding: 1cm;
}
.toutl{
    background: linear-gradient(blue, 10%, pink);
    padding: 2cm;
}

.casebout{
    padding-bottom: 5%;
    padding-left: 30%;
}
.bouton{
    border-radius: 10cm;
    padding: 2%;
    width: 50%;
}
.bouton:hover{
    background: linear-gradient(blue, 10%, pink);
}
.underline{
    height: 6px;
    width: 61px;
    background-color: pink;
    border-radius: 6px;
    margin-left: 40%;
    margin-bottom: 8%;
}
.imput{
    width: 200px;
    height: 35px;
    border-radius: 10cm;
    margin-bottom: 1cm;
    margin-left: 2cm;
}

/* home css */

.navbar-custom {
    background-color:#ee6eae;
}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .nav-link
{
    color: rgb(15, 15, 15);
}
/* .carousel-custom {
    margin-top: 5%;
    max-height: 10%;
    max-width: 65%;
    margin-left: 17%;
} */
.carousel-custom h3{
    color: #020202;
}
.c{
    display: flex;
    justify-content:space-between;
    margin-top: 10%;
}
.text-center{
    margin: auto;
}
.link{
    text-decoration: none;
    color: black;
    margin-left: 30%;
}
.second{
    /* background-color: black; */
    /* width: 100%;
    height: 500%; */
    margin-top:  10%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10%;
}
.img{
     width: 200px; height: 200px; border-radius: 100px;
}
/* .img h6{
    text-align: left;
} */
.textaftercarousel{
    padding-top: 10%;
    text-align: center;
    color: #ee6eae;
}

.cart{
    width: 18rem;
} 