
/* card css */
.grid{
    background-color: rgb(177, 181, 186);
    padding-top: 1%;
    width: 8cm;
    height: 3cm;
    padding-bottom: 2%;

}
.grid h6{
    margin-left: 2em;
}

/* bienvenue css */

.bienvenue{
    width: 100%;
    height: 16cm;
    background-color: palevioletred;
}